#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 100%;
}

.tagline {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  margin-top: 2rem;
}
